* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.layout1 {
  width: 1180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gogoimage {
  width: 150px;
  height: 50px;
}

.header {
  position: relative;
  z-index: 3;
  background-color: #fff;
  display: flex;
  align-items: center;
  width: 100%;
  height: 88px;
  justify-content: space-between;
}

.tolgoi {
  width: 60%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header-items {
  gap: 20px;
  display: flex;
  justify-content: center;
}

.header-items > div {
  font-weight: bold;
}

.medee {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.medee-dropdown {
  position: absolute;
  top: 60%;
  left: 0;
  width: 467px;
  height: 306px;
  padding: 15px 40px 15px 55px;
  background-color: white;
  border-radius: 5px;
  display: none;
}

.medee:hover .medee-dropdown {
  display: block;
}

.gogo_bulan {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.gogo_bulan-dropdown {
  position: absolute;
  top: 60%;
  left: 0;
  width: 467px;
  height: 306px;
  padding: 15px 40px 15px 55px;
  background-color: white;
  border-radius: 5px;
  display: none;
}

.gogo_bulan:hover .gogo_bulan-dropdown {
  display: block;
}

.uzeh {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.uzeh-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 467px;
  height: 306px;
  padding: 15px 40px 15px 55px;
  background-color: white;
  border-radius: 5px;
  display: none;
}

.uzeh:hover .uzeh-dropdown {
  display: block;
}

.hev_mayag {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hev_mayag-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 467px;
  height: 306px;
  padding: 15px 40px 15px 55px;
  background-color: white;
  border-radius: 5px;
  display: none;
}

.hev_mayag:hover .hev_mayag-dropdown {
  display: block;
}

.english {
  display: flex;
  justify-content: center;
  align-items: center;
}

.adding {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 270px;
  height: 50px;
}

.tsag_agaar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 100%;
}
.text1 {
  font-size: small;
  width: 90px;
  height: 30px;
}
.icon1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 20px;
  height: 20px;
}
.day {
  width: 90px;
  height: 25px;
  font-size: medium;
}

.zurhai {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text2 {
  width: 90px;
  height: 20px;
  font-size: small;
}
.icon2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;
}

.date {
  width: 90px;
  height: 25px;
  font-size: medium;
}

.hansh {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 1100px;
  background-color: blue;
}

.adicto {
  width: 100%;
  height: 75;
}

.Banner-GOGO {
  width: 100%;
  height: 475px;
  position: absolute;
  z-index: 2;
  transform: translateY(-100%);
  transition: 0.5s ease;
}

.adicto:hover ~ .Banner-GOGO {
  transform: translateY(0);
}

.Banner-GOGO:hover {
  transform: translateY(0);
}

.detail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1115px;
  height: 385px;
}

.left1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 542.5px;
  height: 337;
  font: 14px;
  padding: 0px 0px 0px 40px;
}

.niigem {
  position: relative;
  width: 74.5;
  height: 30;
  padding: 8px 15px;
  font-size: small;
  font-weight: bold;
  background-color: brown;
  border-radius: 15px;
  color: #ffffff;
}

.garchig1 {
  width: 502.5px;
  height: 154px;
  margin: 10px 0px 0px;
  padding: 10px 30px 0px 0px;
  background-color: #ffffff;
}

.ishlel {
  width: 502.5px;
  height: 60px;
  font-size: 13px;
  margin: 10px 0px 20px;
  background-color: #ffffff;
}

.right1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 557px;
  position: relative;
  height: 385px;
  overflow: hidden;
  border-radius: 5px;
}

.right1_detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: all 0.3s ease;
}

.right1:hover .right1_detail {
  opacity: 0.5;
}

.right1 .img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.right1:hover .img {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.newest {
  display: flex;
  align-items: center;
  column-gap: 20px;
  height: 283px;
  margin-top: 20px;
}

.news {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  width: 263px;
  height: 100%;
}

.news_img_box {
  width: 100%;
  display: flex;
  height: 175px;
}

.news_img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image_slider {
  width: 270px;
  height: 263px;
  background-image: url("./gogo.mn2.png");
  background-size: cover;
  border-radius: 5px;
  animation: image_slider 6s infinite;
}

@keyframes image_slider {
  33% {
    background-image: url("./gogo.mn2.png");
  }
  66% {
    background-image: url("./gogo.mn\ \(2\).jpg");
  }
  99% {
    background-image: url("gogo.mn2.png");
  }
}

.layout2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1180px;
}

.story {
  position: relative;
  width: 1180px;
}

.tuuh {
  position: relative;
  width: 70px;
  height: 25px;
  background-color: #00b0f4;
}

.deed {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 280px;
  background-color: chocolate;
  color: white;
  border-radius: 5px;
  gap: 10px;
}

.main1 {
  width: 170px;
  height: 235px;
  background-image: url(il-uurhai-4-6538924fed8c7990278431.jpeg);
  background-size: cover;
  position: relative;
  border-radius: 5px;
}

.main2 {
  width: 170px;
  height: 235px;
  background-image: url(space.jpeg);
  background-size: cover;
  position: relative;
  border-radius: 5px;
}

.main3 {
  width: 170px;
  height: 235px;
  background-image: url(ajliin-bair-belgiin-daramt-65379ea74b19d389796741.jpeg);
  background-size: cover;
  position: relative;
  border-radius: 5px;
}

.main4 {
  width: 170px;
  height: 235px;
  background-image: url(r0-0-800-600-w800-h600-fmax-075929-259012579-65372b227e77f243700449.jpeg);
  background-size: cover;
  position: relative;
  border-radius: 5px;
}

.main5 {
  width: 170px;
  height: 235px;
  background-image: url(uul-uurhai-riotinto-gudaidarri-12-130810-3429150391-653669f1c3cf8319697763.jpeg);
  background-size: cover;
  position: relative;
  border-radius: 5px;
}

.main6 {
  width: 170px;
  height: 235px;
  background-image: url(zurkhai-.jpeg);
  background-size: cover;
  position: relative;
  border-radius: 5px;
}

.dood {
  display: flex;
  width: 1180px;
}
.zuun {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 690px;
  background-color: white;
}

.img4 {
  width: 210px;
  height: 150px;
  border-radius: 10px;
}
.gobi {
  display: flex;
  width: 100%;
  font-size: 10px;
}

.banner2 {
  width: 690px;
  height: 245px;
  background-image: url("TheHead_760x270_1\ edit.png");
  background-size: cover;
  border-radius: 5px;
  animation: image_slider 10s infinite;
}

@keyframes image_slider {
  50% {
    background-image: url("TheHead_760x270_1\ edit.png");
  }
  50% {
    background-image: url("TheHead_760x270_2.png");
  }
}

.baruun {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 410px;

  background-color: gold;
}

.ontsloh {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 900px;
  margin: 0px 0px 50px;
}

.head {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 225px;
  background-color: #ffffff;
}

.img5 {
  width: 290px;
  height: 170px;
  border-radius: 10px;
}

.trend {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 940px;
  background-color: antiquewhite;
}

.read1 {
  width: 340px;
  height: 88px;
}

.interview {
  width: 1100px;
  height: 550px;
  border: 3px solid red;
}
.yriltslaga {
  width: 100%;
  height: 40px;
  border: 3px solid yellow;
}

.view {
  display: flex;
  justify-content: space-between;
}
.vv {
  border: 3px solid orchid;
  width: 500px;
  height: 500px;
}

.view1 {
  width: 542px;
  height: 500px;
  background-image: url(tselmeg_rio_tinto.jpeg);
  background-size: cover;
  position: relative;
  border-radius: 5px;
}
.tx {
  position: absolute;
  border: 3px solid yellow;
  bottom: 30px;
}
.zuun-view {
  display: flex;
  flex-wrap: wrap;
}
.aa {
  width: 240px;
  height: 240px;
  border: 3px solid yellow;
}

.GoGostyle {
  display: flex;
  width: 1180px;
  height: 405px;
  gap: 5px;
}
.quiche {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 405px;
  border: 3px solid blueviolet;
}
.salad {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 405px;
  border: 3px solid blueviolet;
}
.shirdeg {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 405px;
  border: 3px solid blueviolet;
}
.crackers {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 405px;
  border: 3px solid blueviolet;
}
.zurag {
  display: flex;
  width: 280px;
  height: 360px;
}

.img6 {
  display: flex;
  width: 260px;
  height: 230px;
}
.xtext {
  display: flex;
  width: 260px;
  height: 130px;
}

.technology {
  display: flex;
  width: 1180px;
  height: 350px;
  gap: 5px;
}
.hiiimel {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 300px;
  border: 3px solid blueviolet;
}

.pics {
  display: flex;
  width: 263.75px;
  height: 250px;
}
.img8 {
  display: flex;
  width: 100%;
  height: 170px;
}
.ytext {
  display: flex;
  width: 240px;
  height: 130px;
}

.komik {
  display: flex;

  width: 1180px;
  height: 380px;
}
.comic1 {
  display: flex;
  flex-direction: column;
  width: 542.5px;
  height: 300px;
}
.comic2 {
  display: flex;
  flex-direction: column;
  width: 542.5px;
  height: 300px;
}
.img9 {
  width: 100%;
  height: 200px;
}
.watch {
  width: 100%;
  height: 300px;
  background-color: forestgreen;
}
.footer {
  width: 100%;
  height: 300px;
  background-color: aquamarine;
}
